data_directory = '/var/lib/postgresql/{{postgresql_version}}/main'              # use data in another directory
hba_file = '/etc/postgresql/{{postgresql_version}}/main/pg_hba.conf'    # host-based authentication file
ident_file = '/etc/postgresql/{{postgresql_version}}/main/pg_ident.conf'        # ident configuration file
external_pid_file = '/var/run/postgresql/{{postgresql_version}}-main.pid'                       # write an extra PID file
port = 5432                             # (change requires restart)
max_connections = 100                   # (change requires restart)
unix_socket_directories = '/var/run/postgresql' # comma-separated list of directories
ssl = true                              # (change requires restart)
ssl_cert_file = '/etc/ssl/certs/ssl-cert-snakeoil.pem'          # (change requires restart)
ssl_key_file = '/etc/ssl/private/ssl-cert-snakeoil.key'         # (change requires restart)
shared_buffers = 128MB                  # min 128kB
dynamic_shared_memory_type = posix      # the default is the first option
log_destination = 'stderr'              # Valid values are combinations of
client_min_messages = notice            # values in order of decreasing detail:
log_min_messages = warning              # values in order of decreasing detail:
log_min_error_statement = notice        # values in order of decreasing detail:
debug_pretty_print = on
log_connections = on
log_disconnections = on
log_error_verbosity = default           # terse, default, or verbose messages
log_line_prefix = '%t [%p-%l] %q%u@%d '                 # special values:
log_timezone = 'UTC'
stats_temp_directory = '/var/run/postgresql/{{postgresql_version}}-main.pg_stat_tmp'
datestyle = 'iso, mdy'
timezone = 'UTC'
lc_messages = 'en_US.UTF-8'                     # locale for system error message
lc_monetary = 'en_US.UTF-8'                     # locale for monetary formatting
lc_numeric = 'en_US.UTF-8'                      # locale for number formatting
lc_time = 'en_US.UTF-8'                         # locale for time formatting
default_text_search_config = 'pg_catalog.english'
