---
# Rename this file to secrets.yml and edit it to include the specific
# keys, certificates, etc. for your deployment.
#
# Note that after you do this, you should encrypt the file with ansible vault
# so that the usernames are not public:
#
#     ansible-vault encrypt secrets.yml

mayan_db_password: superuncrackablepassword
secret_key: superuncrackablesecretkey
